= semantic_form_for [@ordemservico] do |form|
  = form.input :rotao, :member_label => :trajeto, :label =>  'Trajeto' 
  = form.input :cliente, :member_label => :nome, :label => 'Nome'
  = form.submit 'Salvar'

